Body {
    background-image: url(img/HWBackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* moving background or changing background that be distracting? */
    /* distracting sounds? */
    color: black;

}

h1 {
    text-align: center;
    font-weight: 500px;
    font-size: 30;
    /* font-family - something gothic lol */
    /* remember to ask paul is fav font site */
} 

* {
    font-family: Helvetica;
    font-size: 1.4em;
    color: white;
    text-align: center;
}

img {
    width: 100%;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
/* defines the columns of the grid. It creates two columns of equal width (1fr means 1 fractional unit, dividing the available space equally).*/
    gap: 20px;
/* specifies the gap between grid items to be 20 pixels. */
    max-width: 300px;
    margin: 0 auto; 
/* Automatically centers the cards */
    
}